<div
  ...attributes
  local-class={{concat "root" (unless this.media.isSmall " largeRoot")}}
  {{did-update this.didUpdateLocale @locale}}
  {{did-insert this.didInsert}}
>
  <JubileeInput
    class={{local-class "dateInput"}}
    @text={{if
      this.internalSelection
      (format-date this.internalSelection locale=@locale)
    }}
    @isReadonly={{true}}
    {{on "click" this.jubileeInputOnClick}}
  />
  {{#if this.media.isSmall}}
    <JubileeModal @open={{this.isCalendarOpen}} @maxContent={{false}}>
      <div local-class="isSmallModal">
        {{! ISSMALLMODAL HEADER }}
        <div local-class="isSmallModalHeader">
          <div>
            {{format-date this.internalSelection locale=@locale year="numeric"}}
          </div>
          <div>
            {{format-date this.internalSelection locale=@locale weekday='short'}},
            {{format-date this.internalSelection locale=@locale day='numeric'}}.
            {{format-date this.internalSelection locale=@locale month='long'}}
          </div>
        </div>
        {{! ISSMALLMODAL CALENDAR }}
        <PowerCalendar
          class="demo-calendar-medium {{local-class "isSmallModalCalendar"}}"
          @center={{this.center}}
          @onCenterChange={{action (mut this.center) value="date"}}
          @selected={{this.internalSelection}}
          @onSelect={{action
            "powerCalendarOnSelect"
            value="date"
          }} as |calendar|
        >
          <calendar.Nav />
          <calendar.Days />
        </PowerCalendar>
        {{! ISSMALLMODAL BUTTONS }}
        <div local-class="isSmallModalButtons">
          <JubileeButton
            onclick={{action this.onOk}}
            @text="OK"
            @invert={{true}}
          />
          <JubileeButton
            onclick={{action "onAbort"}}
            @text="Abbrechen"
            @invert={{true}}
          />
        </div>
      </div>
    </JubileeModal>
  {{else}}
    <div
      class={{local-class (unless this.isCalendarOpen "collapsed")}}
      local-class="dateDropdown"
    >
      <PowerCalendar
        class="demo-calendar-medium"
        @center={{this.center}}
        @onCenterChange={{action (mut this.center) value="date"}}
        @selected={{this.internalSelection}}
        @onSelect={{action "powerCalendarOnSelect" value="date"}} as |calendar|
      >
        <calendar.Nav />
        <calendar.Days />
      </PowerCalendar>
    </div>
  {{/if}}
</div>