<Doc as |doc|>
  <doc.element @name="Input">
    <JubileeInput
      @text={{this.location}}
      @placeholder={{this.placeholder}}
      @onChange={{this.onChange}}
      @update={{this.selectedUpdate}}
      @isReadonly={{this.isReadonly}}
      @theme={{this.selectedTheme}}
    />
  </doc.element>
  <doc.controls>
    <div local-class="control">
      <JubileeSelect
        class={{local-class "controlFirst"}}
        @items={{this.themes}}
        @selectedItem={{this.selectedTheme}}
        @onChange={{fn this.setPropertyAndSetHbs "selectedTheme"}} as |item|
      >
        {{item}}
      </JubileeSelect>
      @theme
    </div>
  </doc.controls>
  <doc.controls>
    <div local-class="control">
      <JubileeTextField
        class={{local-class "controlFirst"}}
        @text={{this.placeholder}}
        @onChange={{fn this.setPropertyAndSetHbs "placeholder"}}
        @update="on-input"
      />
      @placeholder
    </div>
    <div local-class="control">
      <JubileeSelect
        class={{local-class "controlFirst"}}
        @items={{this.updates}}
        @selectedItem={{this.selectedUpdate}}
        @onChange={{fn this.setPropertyAndSetHbs "selectedUpdate"}} as |item|
      >
        {{item}}
      </JubileeSelect>
      @update
    </div>
    <div>
      <Input
        @type="checkbox"
        @checked={{this.isReadonly}}
        onchange={{fn this.validateInputAndSetHbs "isReadonly"}}
      />
      @isReadonly
    </div>
  </doc.controls>
  <doc.controls>
    # of onChange events:
    {{this.onChangeEvents}}
  </doc.controls>
  <doc.hbs @code={{this.code}} />
  <doc.info>
    <p>
      This component adheres to DDAU. A two-way binding can be achieved via
      the mut helper (see example above).
    </p>
    <p>
      The configured @update ('on-blur', 'on-input')
      determines when the @onChange event is triggered. 'on-blur' is default 
      if nothing is set.
    </p>
  </doc.info>
</Doc>