<div local-class={{concat "root" (unless this.media.isSmall " largeRoot")}}>
  <JubileeInput
      class={{local-class "dateInput"}}
      onclick={{action "jubileeInputOnClick"}}
      @text={{if this.internalSelection (luxon-format this.internalSelection "dd.MM.yyyy")}}
      @isReadonly={{true}}
  />
  {{#if this.media.isSmall}}
    <JubileeModal @open={{this.isCalendarOpen}} @maxContent={{false}}>
      <div local-class="isSmallModal">
        {{!-- ISSMALLMODAL HEADER --}}
        <div local-class="isSmallModalHeader">
          <div>
            {{luxon-format this.internalSelection "yyyy"}}
          </div>
          <div>
            {{luxon-format this.internalSelection "ccc., d. LLL"}}
          </div>          
        </div>
        {{!-- ISSMALLMODAL CALENDAR --}}
        <PowerCalendar 
          class="demo-calendar-medium {{local-class "isSmallModalCalendar"}}"
          @center={{this.center}}
          @onCenterChange={{action (mut this.center) value="date"}}
          @selected={{this.internalSelection}}
          @onSelect={{action "powerCalendarOnSelect" value="date"}} as |calendar|
        >
          <calendar.Nav/>
          <calendar.Days/>
        </PowerCalendar>
        {{!-- ISSMALLMODAL BUTTONS --}}
        <div local-class="isSmallModalButtons">
          <JubileeButton onclick={{action this.onOk}} @text="OK" @invert={{true}}/>
          <JubileeButton onclick={{action "onAbort"}} @text="Abbrechen" @invert={{true}}/>
        </div>
      </div>
    </JubileeModal>
  {{else}}
    <div
      class={{local-class (unless this.isCalendarOpen "collapsed")}} 
      local-class="dateDropdown">
      <PowerCalendar class="demo-calendar-medium"
        @center={{this.center}}
        @onCenterChange={{action (mut this.center) value="date"}}
        @selected={{this.internalSelection}}
        @onSelect={{action "powerCalendarOnSelect" value="date"}} as |calendar|
      >
        <calendar.Nav/>
        <calendar.Days/>
      </PowerCalendar>
    </div>
  {{/if}}
</div>